<style>
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  ul li { padding: 10px 0px; }
  .tos h2 {
    margin: 50px 0;
    color: #FFC236;
  }
  .tos h5 {
    font-weight: bold;
  }
</style>

<div class="container tos" style="overflow-y: hidden;">
  <p>
    <h2 class="text-center text-lg-left">Regulamin sklepu internetowego HempChamp</h2>
  </p>
  <p>
    <h5>§1 Postanowienia wstępne</h5>

    <ul>
      <li> Sklep internetowy <b>BHPartykuły</b> dostępny pod adresem internetowym <a href="https://BHPartykuły.pl/">https://bhpartykuly.pl/</a>  prowadzony jest przez Interplus sp. z o.o. z siedzibą w Warszawie, wpisaną do Krajowego Rejestru Sądowego przez Sąd Rejonowy w/dla m.st. warszawy., XII Wydział Gospodarczy KRS pod numerem KRS 152781, o kapitale zakładowym 50.000 zł, NIP 5271337122, REGON 012190965. 
      </li>

      <li> Niniejszy regulamin skierowany jest do Konsumentów i określa zasady i tryb zawierania z Konsumentem Umowy Sprzedaży na odległość za pośrednictwem Sklepu.
      </li>
    </ul>
  </p>
  <p>
    <h5>§2 Definicje</h5>
    <ul>
      <li> <b>Konsument</b> - osoba fizyczna zawierająca ze Sprzedawcą umowę w ramach Sklepu, której przedmiot nie jest związany bezpośrednio z jej działalnością gospodarczą lub zawodową.
      </li>

      <li> <b>Sprzedawca</b> - Interplus sp. z o.o. z siedzibą w Warszawie, wpisaną do Krajowego Rejestru Sądowego przez Sąd Rejonowy w/dla m.st. warszawy., XII Wydział Gospodarczy KRS pod numerem KRS 152781, o kapitale zakładowym 50.000 zł, NIP 5271337122, REGON 012190965. 
      </li>

      <li> <b>Klient</b> - każdy podmiot dokonujący zakupów za pośrednictwem Sklepu.
      </li>

      <li> <b>Przedsiębiorca</b> - osoba fizyczna, osoba prawna i jednostka organizacyjna niebędąca osobą prawną, której odrębna ustawa przyznaje zdulność prawną, wykonująca we własnym imieniu działalność gospodarczą, która korzysta ze Sklepu.
      </li>

      <li> <b>Sklep</b> - sklep internetowy prowadzony przez Sprzedawcę pod adresem internetowym: <a href="https://bhpartykuly.pl/">https://bhpartykuly.pl/</a>
      </li>

      <li> <b>Umowa zawarta na odległość</b> - umowa zawarta z Klientem w ramach zorganizowanego systemu zawierania umów na odległość (w ramach Sklepu), bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.
      </li>

      <li> <b>Regulamin</b> - niniejszy regulamin Sklepu. </li>
      <li> <b>Zamówienie</b> - oświadczenie wuli Klienta składane za pomocą Formularza Zamówienia i zmierzające bezpośrednio do zawarcia Umowy Sprzedaży Produktu lub Produktów ze Sprzedawcą.
      </li>

      <li> <b>Konto</b> - konto klienta w Sklepie, są w nim gromadzone są dane podane przez Klienta oraz informacje o złożonych przez niego Zamówieniach w Sklepie.
      </li>
      <li><b>Formularz rejestracji</b> - formularz dostępny w Sklepie, umożliwiający utworzenie Konta.</li>

      <li><b>Formularz zamówienia</b> - interaktywny formularz dostępny w Sklepie umożliwiający złożenie Zamówienia, w szczególności poprzez dodanie Produktów do Koszyka oraz określenie warunków Umowy Sprzedaży, w tym sposobu dostawy i płatności.
      </li>

      <li><b>Koszyk</b>– element oprogramowania Sklepu, w którym widoczne są wybrane przez Klienta Produkty do zakupu, a także istnieje możliwość ustalenia i modyfikacji danych Zamówienia, w szczególności ilości produktów.
      </li>

      <li><b>Produkt</b> - dostępna w Sklepie rzecz/dobro będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą.
      </li>
      <li><b>Umowa Sprzedaży</b> - umowa sprzedaży Produktu zawierana albo zawarta między Klientem a Sprzedawcą za pośrednictwem Sklepu internetowego.
      </li>
    </ul>
  </p>
  <p>
    <h5>§3 Kontakt ze Sklepem</h5>
    <ul>
      <li>Adres Sprzedawcy: Nadbzurzańska 1, 99-400 Łowicz</li>
      <li>Adres e-mail Sprzedawcy: <a href="mailto:artykulybhp@gmail.com">artykulybhp@gmail.com</a></li>
      <li>Numer telefonu Sprzedawcy: <a href="tel:+48506090911">506-090-911</a></li>
      <li>Numer rachunku bankowego Sprzedawcy <b>79 1750 0012 0000 0000 2086 8619</b></li>
      <li>Klient może porozumiewać się ze Sprzedawcą za pomocą adresów i numerów telefonów podanych w niniejszym paragrafie.</li>
      <li>Klient może porozumieć się telefonicznie ze Sprzedawcą w godzinach <b>8.00 - 16.00</b></li>
    </ul>
  </p>
  <p>
    <h5>§4 Wymagania techniczne</h5>
    <p>Do korzystania ze Sklepu, w tym przeglądania asortymentu Sklepu oraz składania zamówień na Produkty, niezbędne są:</p>

    <ul type="a">
      <li>urządzenie końcowe z dostępem do sieci Internet i przeglądarką internetową,</li>
      <li>aktywne konto poczty elektronicznej (e-mail),</li>
      <li>włączona obsługa plików cookies.</li>
    </ul>
  </p>
  <p>
    <h5>§5 Informacje ogólne</h5>
    <ul>
      <li> Sprzedawca w najszerszym dopuszczalnym przez prawo zakresie nie ponosi odpowiedzialności za zakłócenia, w tym przerwy, w funkcjonowaniu Sklepu spowodowane siłą wyższą, niedozwulonym działaniem osób trzecich lub niekompatybilnością infrastruktury technicznej Klienta ze Sklepem internetowym. 
      </li>
      <li> Przeglądanie asortymentu Sklepu nie wymaga zakładania Konta. Składanie zamówień przez Klienta na Produkty znajdujące się w asortymencie Sklepu możliwe jest albo po założeniu Konta zgodnie z postanowieniami §6 Regulaminu albo przez podanie niezbędnych danych osobowych i adresowych umożliwiających realizację Zamówienia bez zakładania Konta.
      </li>

      <li>Ceny podane w Sklepie są podane w pulskich złotych i są cenami brutto (uwzględniają podatek VAT).
      </li>
    </ul>
  </p>
  <p>
    <h5>§6 Zakładanie Konta w Sklepie</h5>
    <ul>
      <li> Aby założyć Konto w Sklepie, należy wypełnić Formularz rejestracji. Niezbędne jest podanie następujących danych: adres e-mail oraz hasła do konta.
      </li>
      <li>Założenie Konta w Sklepie jest darmowe.
      </li>
      <li>
      Logowanie się na Konto odbywa się poprzez podanie loginu i hasła ustanowionych w Formularzu rejestracji.
      </li>
      <li> Klient ma możliwość w każdej chwili, bez podania przyczyny i bez ponoszenia z tego tytułu jakichkulwiek opłat usunąć Konto poprzez wysłanie stosownego żądania do Sprzedawcy, w szczególności za pośrednictwem poczty elektronicznej lub pisemnie na adresy podane w §3. </li>
    </ul>
  </p>
  <p>
    <h5>§7 Zasady składania Zamówienia</h5>
    <p>
      W celu złożenia Zamówienia należy: 
      <ul>
        <li>zalogować się do Sklepu lub przeglądać stronę jako Gość</li>
        <li>wybrać Produkt będący przedmiotem Zamówienia, a następnie kliknąć przycisk <b>„Do koszyka”</b></li>

        <li>zalogować się lub skorzystać z możliwości złożenia Zamówienia bez rejestracji;</li>
        <li>jeżeli wybrano możliwość złożenia Zamówienia bez rejestracji - wypełnić Formularz zamówienia poprzez wpisanie danych odbiorcy Zamówienia oraz adresu, na który ma nastąpić dostawa Produktu, wybrać rodzaj przesyłki (sposób dostarczenia Produktu), wpisać dane do faktury, jeśli są inne niż dane odbiorcy Zamówienia,</li>
        <li>kliknąć przycisk <b>“Zamawiam i płacę”</b> oraz potwierdzić zamówienie</li>
        <li>wybrać jeden z dostępnych sposobów dostawy i płatności, opłacić zamówienie w określonym terminie, z zastrzeżeniem §8 pkt 3.</li>
      </ul>
    </p>
  </p>
  <p>
    <h5>§8 Oferowane metody dostawy oraz płatności</h5>
    <ul>
      <li> Klient może skorzystać z następujących metod dostawy lub odbioru zamówionego Produktu:
        <ul type="a">
          <li>Przesyłka kurierska (GLS)</li>
          <li>Przesyłka kurierska (PEKAES)</li>
          <li>Odbiór osobisty</li>
        </ul>
      </li>
      <br>
      <li> Klient może skorzystać z następujących metod płatności:
        <ul type="a">
          <li>Płatność za pobraniem</li>
          <li>Płatność przelewem na konto Sprzedawcy (PayU)</li>
          <li>Płatności elektroniczne (PayU)</li>
          <li>Płatność kartą płatniczą. (PayU)</li>
        </ul>
      </li>
    </ul>
  </p>
  <p>
    <h5>§9 Wykonanie umowy sprzedaży</h5>
    <ul>
      <li>Zawarcie Umowy Sprzedaży między Klientem a Sprzedawcą następuje po uprzednim złożeniu przez Klienta Zamówienia za pomocą Formularza zamówienia w Sklepie internetowym zgodnie z §7 Regulaminu.</li>

      <li>Po złożeniu Zamówienia Sprzedawca niezwłocznie potwierdza jego otrzymanie oraz jednocześnie przyjmuje Zamówienie do realizacji. Potwierdzenie otrzymania Zamówienia i jego przyjęcie do realizacji następuje poprzez przesłanie przez Sprzedawcę Klientowi stosownej wiadomości e-mail na podany w trakcie składania Zamówienia adres poczty elektronicznej Klienta, która zawiera co najmniej oświadczenia Sprzedawcy o otrzymaniu Zamówienia i o jego przyjęciu do realizacji oraz potwierdzenie zawarcia Umowy Sprzedaży. Z chwilą otrzymania przez Klienta powyższej wiadomości e-mail zostaje zawarta Umowa Sprzedaży między Klientem a Sprzedawcą.</li>

      <li> W przypadku wyboru przez Klienta: 
        <ul type="a">
        <li>płatności przelewem, płatności elektronicznych albo płatności kartą płatniczą, Klient obowiązany jest do dokonania płatności niezwłocznie od chwili zawarcia Umowy Sprzedaży - w przeciwnym razie zamówienie zostanie anulowane.</li>
        <li>płatności za pobraniem przy odbiorze przesyłki, Klient obowiązany jest do dokonania płatności przy odbiorze przesyłki.</li>
        </ul>
      </li>

      <li> W przypadku zamówienia Produktów o różnych terminach dostawy, terminem dostawy jest najdłuższy podany termin.</li>

      <li> Początek biegu terminu dostawy Produktu do Klienta liczy się w następujący sposób:

        <ul type="a"> 
          <li>W przypadku wyboru przez Klienta sposobu płatności przelewem, płatności elektroniczne lub kartą płatniczą - od dnia uznania rachunku bankowego Sprzedawcy.</li>

          <li>W przypadku wyboru przez Klienta sposobu płatności za pobraniem – od dnia zawarcia Umowy Sprzedaży.</li>
        </ul>
      </li>
      <li>Dostawa Produktu odbywa się na terenie Pulski. Po zniesieniu zakazu wywozu towarów służących do ochrony przeciw pandemii wirusa opublikujemy cennik dostaw do Odbiorców w innych krajach.</li>

      <li>Dostawa Produktu do Klienta jest odpłatna. Koszty dostawy Produktu (w tym opłaty za transport, dostarczenie i usługi pocztowe) są wskazywane w trakcie składania Zamówienia, w tym także w chwili wyrażenia przez Klienta wuli związania się Umową Sprzedaży. </li>
    </ul>
  </p>
  <p>
    <h5>§10 Prawo odstąpienia od umowy </h5>

    <ul>
      <li>Konsument może w terminie 14 dni odstąpić od Umowy Sprzedaży bez podania jakiejkulwiek przyczyny.</li>

      <li>Bieg terminu określonego w ust. 1 rozpoczyna się od dostarczenia Produktu Konsumentowi lub wskazanej przez niego osobie innej niż przewoźnik.</li>

      <li>W przypadku Umowy, która obejmuje wiele Produktów, które są dostarczane osobno, partiami lub w częściach, termin wskazany w ust. 1 biegnie od dostawy ostatniej rzeczy, partii lub części.</li>

      <li>Konsument może odstąpić od Umowy, składając Sprzedawcy oświadczenie o odstąpieniu od Umowy. Do zachowania terminu odstąpienia od Umowy wystarczy wysłanie przez Konsumenta oświadczenia przed upływem tego terminu. Oświadczenie może być wysłane za pomocą tradycyjnej poczty poprzez przesłanie oświadczenia na adres Sprzedawcy - dane kontaktowe Sprzedawcy zostały określone w §3.</li>

      <li> W przypadku przesłania oświadczenia przez Konsumenta drogą elektroniczną, Sprzedawca niezwłocznie prześle Konsumentowi na podany przez Konsumenta adres e-mail potwierdzenie otrzymania oświadczenia o odstąpieniu od Umowy.</li>

      <li> Skutki odstąpienia od Umowy:
        <ul type="a">
          <li>
            W przypadku odstąpienia od Umowy zawartej na odległość Umowę uważa się za niezawartą.
          </li>
          <li>
            W przypadku odstąpienia od Umowy Sprzedawca zwraca Konsumentowi niezwłocznie, nie później niż w terminie 14 dni od dnia otrzymania oświadczenia Konsumenta o odstąpieniu od Umowy, wszystkie dokonane przez niego płatności, w tym koszty dostarczenia rzeczy, z wyjątkiem dodatkowych kosztów wynikających z wybranego przez Konsumenta sposobu płatności tj. przelew za pośrednictwem systemu PayU (1,7% kwoty płatności).
          </li>
          <li>
            Zwrotu płatności Sprzedawca dokona przy użyciu takich samych metod płatności, jakie zostały przez Konsumenta użyte w pierwotnej transakcji, chyba że Konsument wyraźnie zgodził się na inne rozwiązanie, które nie będzie się wiązało dla niego z żadnymi kosztami.
          </li>
          <li>
            Sprzedawca może wstrzymać się ze zwrotem płatności do czasu otrzymania Produktu z powrotem lub do czasu dostarczenia mu dowodu jego odesłania, w zależności od tego, które zdarzenie nastąpi wcześniej.
            Konsument powinien odesłać Produkt na adres Sprzedawcy podany w niniejszym Regulaminie niezwłocznie, nie później niż 14 dni od dnia, w którym poinformował Sprzedawcę o odstąpieniu od Umowy. Termin zostanie zachowany, jeśli Konsument odeśle Produkt przed upływem terminu 14 dni.
          </li>
          <li>
            Konsument ponosi bezpośrednie koszty zwrotu Produktu, także koszty zwrotu Produktu, jeśli ze względu na swój charakter Produkt ten nie mógł zostać w zwykłym trybie odesłany pocztą.
          </li>
          <li>
            Konsument odpowiada tylko za zmniejszenie wartości Produktu wynikające z korzystania z niego w sposób inny niż było to konieczne do stwierdzenia charakteru, cech i funkcjonowania Produktu.</li>
        </ul>
      </li>
      <li> 
        W przypadku gdy ze względu na charakter Produktu nie może on zostać odesłany w zwykłym trybie pocztą, informacja o tym, a także o kosztach zwrotu Produktu, będzie się znajdować w opisie Produktu w Sklepie.
      </li>

      <li> Prawo do odstąpienia od umowy zawartej na odległość nie przysługuje Konsumentowi w odniesieniu do Umowy:
        <ul type="a">
          <li>
            w której przedmiotem świadczenia jest rzecz nieprefabrykowana, wyprodukowana według specyfikacji Konsumenta lub służąca zaspokojeniu jego zindywidualizowanych potrzeb,
          </li>
          <li>
            w której przedmiotem świadczenia jest rzecz dostarczana w zapieczętowanym opakowaniu, której po otwarciu opakowania nie można zwrócić ze względu na ochronę zdrowia lub ze względów higienicznych, jeżeli opakowanie zostało otwarte po dostarczeniu,
          </li>
          <li>
            w której przedmiotem świadczenia jest rzecz ulegająca szybkiemu zepsuciu lub mająca krótki termin przydatności do użycia,
          </li>
          <li>
            w którym cena lub wynagrodzenie zależy od wahań na rynku finansowym, nad którym Sprzedawca nie sprawuje kontruli i które mogą wystąpić przed upływem terminu do odstąpienia od Umowy,
          </li>
          <li>
            w której przedmiotem świadczenia są rzeczy, które po dostarczeniu, ze względu na swój charakter, zostają nierozłącznie połączone z innymi rzeczami.
          </li>
        </ul>
      </li>
      <li>
        Sprzedawca ma prawo do odstąpienia od umowy lub wydłużenia terminu realizacji zamówienia w przypadku wystąpienia nadzwyczajnych okuliczności, które trudno było przewidzieć lub na które nie miał wpływu.
      </li>
    </ul>
  </p>
  <p>
    <h5>§11 Reklamacja i gwarancja </h5>
    <ul>
      <li> Umową Sprzedaży objęte są nowe Produkty.</li>

      <li> Reklamację należy zgłosić pisemnie lub drogą elektroniczną na podane w niniejszym Regulaminie adresy Sprzedawcy. </li>

      <li> Sprzedawca ustosunkuje się do żądania reklamacyjnego niezwłocznie, nie później niż w terminie 14 dni, a jeśli nie zrobi tego w tym terminie, uważa się, że żądanie Klienta uznał za uzasadnione.</li>

      <li> Towary odsyłane w ramach procedury reklamacyjnej należy wysyłać na adres podany w §3 niniejszego Regulaminu.</li>

      <li> W przypadku, gdy na Produkt została udzielona gwarancja, informacja o niej, a także jej treść, będą zawarte przy opisie Produktu w Sklepie. </li>
    </ul>
  </p>

  <p>
    <h5>§12 Pozasądowe sposoby rozpatrywania reklamacji i dochodzenia roszczeń</h5>
    <ul>
      <li>Szczegółowe informacje dotyczące możliwości skorzystania przez Konsumenta z  pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń oraz zasady dostępu do tych procedur dostępne są w siedzibach oraz na stronach internetowych powiatowych (miejskich) rzeczników konsumentów, organizacji społecznych, do których zadań statutowych należy ochrona konsumentów, Wojewódzkich Inspektoratów Inspekcji Handlowej oraz pod następującymi adresami internetowymi Urzędu Ochrony Konkurencji i Konsumentów: 
      <ul>
        <li>
          <a href="http://www.uokik.gov.pl/spory_konsumenckie.php">http://www.uokik.gov.pl/spory_konsumenckie.php</a>
        </li>
        <li>
          <a href="http://www.uokik.gov.pl/sprawy_indywidualne.php">http://www.uokik.gov.pl/sprawy_indywidualne.php</a>
        </li>
        <li>
          <a href="http://www.uokik.gov.pl/wazne_adresy.php">http://www.uokik.gov.pl/wazne_adresy.php</a>
        </li>
      </ul>
      </li>

      <li> 
        Konsument posiada następujące przykładowe możliwości skorzystania z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń:
        <ul type="a">
          <li>
            Konsument uprawniony jest do zwrócenia się do stałego pulubownego sądu konsumenckiego, o którym mowa w art. 37 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o rozstrzygnięcie sporu wynikłego z Umowy zawartej ze Sprzedawcą.  
          </li>
          <li>
            Konsument uprawniony jest do zwrócenia się do wojewódzkiego inspektora Inspekcji Handlowej, zgodnie z art. 36 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o wszczęcie postępowania mediacyjnego w sprawie pulubownego zakończenia sporu między Konsumentem a Sprzedawcą.
          </li>
          <li>
            Konsument może uzyskać bezpłatną pomoc w sprawie rozstrzygnięcia sporu między nim a Sprzedawcą, korzystając także z bezpłatnej pomocy powiatowego (miejskiego) rzecznika konsumentów lub organizacji społecznej, do której zadań statutowych należy ochrona konsumentów (m.in. Federacja Konsumentów, Stowarzyszenie Konsumentów Pulskich).
          </li>
        </ul>
      </li>
    </ul>
  </p>

  <p>
    <h5>§13 Dane osobowe w Sklepie internetowym</h5>
    <ul>
      <li>Administratorem danych osobowych Klientów zbieranych za pośrednictwem Sklepu internetowego jest Sprzedawca.</li>

      <li>Dane osobowe Klientów zbierane przez administratora za pośrednictwem Sklepu internetowego zbierane są w celu realizacji Umowy Sprzedaży, a jeżeli Klient wyrazi na to zgodę - także w celu marketingowym.</li>

      <li>Odbiorcami danych osobowych Klientów Sklepu internetowego mogą być: 
        <ul type="a">
          <li>
            W przypadku Klienta, który korzysta w Sklepie internetowym ze sposobu dostawy przesyłką pocztową lub przesyłką kurierską, Administrator udostępnia zebrane dane osobowe Klienta wybranemu przewoźnikowi lub pośrednikowi realizującemu przesyłki na zlecenie Administratora.
          </li>

          <li>
            W przypadku Klienta, który korzysta w Sklepie internetowym ze sposobu płatności elektronicznych lub kartą płatniczą Administrator udostępnia zebrane dane osobowe Klienta, wybranemu podmiotowi obsługującemu powyższe płatności w Sklepie internetowym. 
          </li>
        </ul>
      </li>

      <li> 
        Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania w zakładce <b>“Moje konto”</b>
      </li>
      <li> 
        Podanie danych osobowych jest dobrowulne, aczkulwiek niepodanie wskazanych w Regulaminie danych osobowych niezbędnych do zawarcia Umowy Sprzedaży skutkuje brakiem możliwości zawarcia tejże umowy. 
      </li>
    </ul>
  </p>
  <p>
    <h5>§14 Postanowienia końcowe</h5>
    <ul>
      <li> 
        Umowy zawierane poprzez Sklep internetowy zawierane są w języku pulskim.
      </li>
      <li> 
        Sprzedawca zastrzega sobie prawo do dokonywania zmian Regulaminu z ważnych przyczyn to jest: zmiany przepisów prawa, zmiany sposobów płatności i dostaw - w zakresie, w jakim te zmiany wpływają na realizację postanowień niniejszego Regulaminu. 
      </li>
      <li>
        W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie powszechnie obowiązujące przepisy prawa pulskiego, w szczególności: Kodeksu cywilnego; ustawy o świadczeniu usług drogą elektroniczną; ustawy o prawach konsumenta, ustawy o ochronie danych osobowych
      </li>
      <li style="padding-bottom: 50px">
        Ewentualne spory sądowe będę rozstrzygane przez sąd właściwy dla siedziby Sprzedawcy.
      </li>
    </ul>
  </p>
</div>
